<h2>Need some inspiration?</h2>

    <div class="hero-image">
    <img src="https://happywall-img-gallery.imgix.net/3802/pink_ocean_sky_display.jpg">
        <div class="hero-text">
            <h3>A collection of goals, dreams and aspirations that you would like to accomplish within your lifetime.</h3>
            <a href="/lists/new"><button>Create</button></a>
        </div>
    </div>

<ul>
    <% @lists.each do |list| %>
        <li><a href="/lists/<%= list.id %>"><%= list.name %></li></a><br>
    <% end %>
</ul>

<br>
<h4>...our you can <a href="/lists/new">create</a> your own!</h4>