/* --- Navigation Bar Style --- */
nav {
  width: 100%;
  background-color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  font-family: Sans-serif;
  font-size: 16px;
  color: #3f4040;
  text-align: center;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #3f4040;
}

nav ul li a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid #6c6c6c;
}

#logo {
  width: 45%;
  height: auto;
}

#logo img {
  width: 100%;
  height: auto;
}

/* --- Required star --- */
.required
{
  color: red;
  size: 3px;
}

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Home Page Styles --- */
  body {
    background-color: #d1d1d1;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 1280px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .quote {
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .quote blockquote {
    font-style: italic;
    border: none;
    quotes: "\201C" "\201D" "\2018" "\2019";
    display: inline;
    text-align: justify;
  }

  .quote blockquote:before {
    content: open-quote;
    font-weight: bold;
    color: black;
  }

  .quote blockquote:after {
    content: close-quote;
    font-weight: bold;
    color: black;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.row .column img {
  width: 100%;
}

.row .column p {
  top: 10%;
  background: rgba(115, 115, 115, 0.3);
  color: #6c6c6c;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}