<h1>Create Your Account</h1>

<form method="POST" action="/signup">

    <label for="name">Name</label><span class="required">*</span>:
        <input type="text" id="name" name="name" placeholder="Jane Doe" required="required" class="form-control">
    <br><br>

    <label for="email">Email</label><span class="required">*</span>:
        <input type="text" id="email" name="email" placeholder="jane.doe@unkown.com" required="required" class="form-control">
    <br><br>

    <label for="password">Password</label><span class="required">*</span>:
        <input type="password" id="password" name="password" required="required" class="form-control">
    <br><br>

    <input type="checkbox"> We write fun emails. Exclusive content for subscribers.
    <br><br>

    <input type="submit" value="Create Account">

</form>
<br><br>
<span class="required">*</span>Required fields
